body {
    margin: 0;
}

.prev,
.next {
    position: fixed;
    z-index: 10;
    font-size: 0;
    height: 5rem;
    width: 5rem;
    bottom: 0;
    cursor: pointer;
    opacity: 1;
    background-color: rgb(100 100 100 / 80%);
    color: transparent;
    animation: 1s ease-out 3s 1 hidemessage;
}

.next {
    right: 0;
}

.prev::after {
    content: "⧼";
}

.next::after {
    content: "⧽";
}

.next::after,
.prev::after {
    color: #333;
    line-height: 5rem;
    font-size: 4rem;
    position: absolute;
    left: 1.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
}

.js-loaded.browser-presentation-tool {
    overflow: hidden;
    height: 100vh;
}

section {
    overflow: auto;

    /* space for footer */
    height: calc(100vh - var(--footer-height));
    margin-bottom: var(--footer-height);
    overflow-x: hidden;
}

*[data-order] {
    visibility: hidden;
}

*[data-order].visible {
    visibility: visible;
}

.no-js .message,
.no-js .prev,
.no-js .next {
    display: none;
}

.no-js #nojs-warning {
    display: block;
}

.js-loaded #nojs-warning {
    display: none;
}

.no-js .data-pagenum::after,
.no-js .data-totalpages::after {
    content: "#";
}

.no-js *[data-order] {
    visibility: visible;
}

.message {
    border-radius: 3rem;
    padding: 2rem;
    position: fixed;
    left: 0;
    z-index: 11;
    margin: 0 10%;
    width: 80%;
    bottom: 10%;
    pointer-events: none;
}

.next,
.prev,
.message {
    animation: 1s ease-out 3s 1 hidemessage;
    animation-fill-mode: forwards;
}

.message.info {
    background-color: rgb(100 100 100 / 80%);
    color: white;
}

.message.error {
    background-color: rgb(100 0 0 / 80%);
    color: white;
}

@keyframes hidemessage {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
