* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

footer {
    background-color: var(--main-color);
    color: white;
    padding: 5px;
}

section {
    background-color: white;
}

body {
    font-size: 1.3vw;
    hyphens: auto;
    font-family: sans-serif;
    word-wrap: break-word;
}

section > * {
    padding-left: 10vw;
    padding-right: 10vw;
}

h2 {
    text-align: center;
}

.slide2 {
    background-color: #171717;
    color: white;
}

.nofooter {
    height: 100vh;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
}

header {
    background-color: var(--main-color);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    position: relative;
    margin-bottom: 1em;
}

header::after {
    height: 0.3em;
    width: 100%;
    display: block;
    content: "";
    left: 0;
    bottom: -0.7em;
    border-bottom: 0.3em solid var(--sub-color);
    position: absolute;
}

img.right {
    clear: right;
    float: right;
    margin: 1em 0 1em 1em;
}

.endslide {
    font-size: 3em;
    color: white;
    background: black;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--title-color);
    color: white;
}

.fullscreen {
    padding: 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 0.2em solid black; /* add a solid border around the table */
}

th,
td {
    border: 0.2em solid black;
    text-align: left;
}
