* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

img {
    max-width: 100%;
    max-height: calc(100vh - 12em);
    margin: 0 auto;
    display: block;
}

footer {
    background-color: var(--main-color);
    color: white;
    padding: 5px;
}

section {
    background-color: white;
}

body {
    font-size: 18px;
    hyphens: auto;
    font-family: sans-serif;
    word-wrap: break-word;
}

section > * {
    padding-left: 10vw;
    padding-right: 10vw;
}

.slide2 {
    background-color: #171717;
    color: white;
}

.nofooter {
    height: 100vh;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
}

h2 {
    text-align: center;
    background-color: var(--main-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 0;
}

h2::after {
    height: 0.3rem;
    width: 100%;
    display: block;
    content: "";
    left: 0;
    bottom: -0.7rem;
    border-bottom: 0.3rem solid var(--sub-color);
    position: absolute;
}

strong {
    color: var(--title-color);
}

em {
    color: var(--second-color);
}

img.right {
    clear: right;
    float: right;
    max-width: 35%;
    margin: 0 0 1rem 1rem;
}

.endslide {
    font-size: 4rem;
    color: white;
    background: black;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    padding-bottom: 0.5em;
}

.endslide h2 {
    background: none;
}

.endslide h2::after {
    display: none;
}

pre > code,
pre.animationcode {
    background-color: black;
    color: white;
    display: block;
    padding: 0.2em;
    overflow: scroll;
    padding-bottom: 2rem;
}

code {
    background-color: #ddd;
    border: 0.05em solid #aaa;
    border-radius: 0.2em;
    padding: 0.1em;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--title-color);
    color: white;
}

.fullscreen {
    padding: 0;
    width: 100%;
    max-height: 100%;
}

table {
    border-collapse: collapse;
    border: 0.2rem solid black; /* add a solid border around the table */
}

th,
td {
    border: 0.2rem solid black;
    text-align: left;
}
